.github{
        padding: 5px;
        width: 800px;
        margin-bottom: 85px;
        margin: auto;
        max-width: fit-content;
        
       
     } 
    
    @media all and (min-width: 200px) and (max-width: 480px) {
      .github {
        display: none;
      }
      .text{
        display: none;
      }
    }