.header {
  height: 8em;
  font-weight: 600;
 z-index: 1;
  width: 100%;
  margin: 0 auto;
  justify-content: space-evenly;
  
}
.header{
  /* border: 1px solid black; */
  position:fixed;
  top:0
}

@media (max-width: 600px) {
  .header {
    height: 6em;
  }
}
